# MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3307
MYSQL_DATABASE=sales
MYSQL_USER=ecommerce_app
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DATABASE=ecommerce_dw
POSTGRES_USER=ecommerce_dw_user
POSTGRES_PASSWORD=

# Airflow
AIRFLOW_IMAGE_NAME=apache/airflow:3.3.1-python3.10
AIRFLOW_UID=50000

AIRFLOW_POSTGRES_DATABASE=airflow
AIRFLOW_POSTGRES_USER=airflow
AIRFLOW_POSTGRES_PASSWORD=
AIRFLOW_PORT=8080
AIRFLOW_JWT_SECRET=
AIRFLOW_FERNET_KEY=
