# MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3307
MYSQL_DATABASE=sales
MYSQL_USER=ecommerce_app
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DATABASE=ecommerce_dw
POSTGRES_USER=ecommerce_dw_user
POSTGRES_PASSWORD=

