# MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3307
MYSQL_DATABASE=sales
MYSQL_USER=ecommerce_app
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=
POSTGRES_USER=
POSTGRES_PASSWORD=

